// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 70px);
  text-align: right;

  @media (min-width: $screen-md) {
    justify-content: space-between;
    width: auto;
  }

  $block-name:                &; // #{$block-name}__element

  &__list-wrapper {

  }

  // первый уровень
  &__list {
    position: fixed;
    top: 70px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
    padding: 25px 25px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      position: static;
      display: flex;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      background: none;
    }

    &--open {
      left: 0;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &__item {
    position: relative;
    margin-top: 0;
    color: $text-color;

    &::before {
      display: none;
    }

    &:last-child {
      a {
        @media (min-width: $screen-md) {
          padding-right: 0;
        }
      }
    }

    &--active,
    &.active {

      & > #{$block-name}__link {
        font-weight: 700;
        color: $title2-color;
      }
    }

    @media (min-width: $screen-md) {
      color: $white;
    }
  }

  &__link {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: inherit;
    background-color: $white;

    &:hover,
    &:focus {
      color: $title2-color;
      text-decoration: none;
      // background-color: $gray-lightest;
    }

    @media (min-width: $screen-md) {
      background: none;
      padding-top: 0;
      padding-left: 17px;
      padding-right: 17px;
    }

    @media (min-width: $screen-xxl) {
      padding-left: 45px;
      padding-right: 45px;
    }

    &--noindex {
      @media (min-width: $screen-md) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 16px;
      }
    }
  }

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    /* .no-js & {
      display: none;
    } */

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
