// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: $body-bg;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
}

// input defaults:

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
textarea {
  display: inline-block;
  width: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 0.95em;
  font-weight: 400;
  color: $text-color;
  background-color: $white;
  border: 3px solid transparent;
  border-radius: $border-radius;
  box-sizing: inherit;
  appearance: textfield;

  &:focus {
    // @include field-focus;
  }

  &[disabled],
  &[readonly] {
    cursor: default;
    background-color: $gray-lighter;
  }

  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    // height: auto;
  }

  &[type='color'] {
    // max-width: 100px;
    padding: 0;
  }

  &::placeholder {
    color: $text-color;
    opacity: 1;
  }
}

.error-message {
  display: block;
  width: 100%;
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: inherit;
  font-size: 0.85em;
  color: inherit;
}

.visible {
  visibility: visible;
}

.no-visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.owl-nav {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);

  @media (min-width: $screen-md) {
    left: 30px;
    width: calc(100% - 60px);
  }

  @media (min-width: $screen-xxl) {
    left: 50px;
    width: calc(100% - 100px);
  }
}

.owl-dots {
  display: none;
}

.owl-prev,
.owl-next {
  display: flex;
  width: 20px;
  height: 30px;
  font-size: 60px !important;
  border: none;
  opacity: 0.5;

  span {
    display: block;
    width: 20px !important;
    height: 30px !important;
    margin: auto;
    color: $title-color;
  }

  &:hover,
  &:focus {
    border-color: $main-color !important;
    outline: none;
    opacity: 1;
  }
}

.container {
  @include container (
    $xs-grid-gutter: $grid-gutter-width,
    $sm-grid-gutter: $grid-gutter-width,
    $md-grid-gutter: 60px,
    $lg-grid-gutter: 60px,
    $xl-grid-gutter: 60px,
    $xxl-grid-gutter: 100px
  )
}

.page {

  &__content {

    &--index {
      @media (min-width: $screen-md) {
        background-image: url(../img/bg-big.png);
        background-repeat: no-repeat;
        //background-position: right -560px bottom -20px;
        background-position: right -100px bottom -20px;
        background-size: contain;
      }

      @media (min-width: $screen-lg) {
        background-position: right -120px bottom -20px;
      }

      @media (min-width: $screen-xl) {
        background-position: right -100px bottom -20px;
      }

      @media (min-width: $screen-xxl) {
        background-position: right -50px bottom -20px;
      }
    }
  }
}

.main {

  &--404 {
    background-color: $body-bg--dark;
  }
}

.noindex-page {
  padding-top: 45px;
  padding-bottom: 45px;

  @media (min-width: $screen-md) {
    padding-top: 55px;
    padding-bottom: 100px;
  }

  @media (min-width: $screen-xxl) {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  h1 {
    margin-bottom: 3.9rem;
    span {
      color: $title2-color;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 4.3rem;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 5rem;
    }
  }
}

p {

  a {
    text-decoration: none;
    color: $title2-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
