html, .page {
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $text-color;

  @media (min-width: $screen-lg) {
    font-size: 16px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--headings;
  font-weight: 700;
  line-height: 1.35em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: $title-color;
}

h1, .h1 {
  font-size: 2.357rem; //2.813
  margin-top: 0;
  margin-bottom: $line-height;
  @media (min-width: $screen-lg) {
    font-size: 2.813rem;
  }
}

h2, .h2 {
  font-size: 1.786rem; //2.25
  margin-top: $line-height;
  margin-bottom: $line-height;
  @media (min-width: $screen-lg) {
    font-size: 2.25rem;
  }
}

h3, .h3 {
  font-size: 1.357rem; //1.438
  margin-top: $line-height;
  margin-bottom: $line-height;
  @media (min-width: $screen-lg) {
    font-size: 1.438rem;
  }
}

h4, .h4 {
  font-size: 1rem;
  margin-top: $line-height;
  margin-bottom: 0;
}

p,
ul,
ol,
dl,
blockquote,
pre,
table,
address,
figure {
  margin-top: 0;
  margin-bottom: 0;
  color: currentColor;
}

p + p {
  margin-top: $line-height / 2;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

li + li {
  margin-top: $line-height / 3;
}

ol{
  counter-reset: myCounter;

  li:before {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 0.7em;
    counter-increment: myCounter;
    content: counter(myCounter)".";
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    text-align: left;
    line-height: inherit;
    color: $title2-color;
  }
}

ul {
  li:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 0.7em;
    margin-top: -3px;
    border-radius: 50%;
    background-color: $title2-color;
  }
}


hr {
  margin-top: $line-height;
  margin-bottom: $line-height;
  border: 0;
  border-top: 1px solid $border-color;
}

// .small,
small {
  // font-size: $font-size--small;
}

sub,
sup {
  font-size: 70%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

article,
section {
  p,
  ul,
  ol,
  blockquote,
  pre {
    hyphens: auto;
  }
}
