// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.page-header {
  position: relative;
  background-color: $body-bg--dark;
  background-image: linear-gradient(to bottom, #161616, transparent 50px);
  // background-repeat: no-repeat;
  // background-position: right top;
  // background-size: auto 310px;

  .logo {

    img {
      display: block;
      width: 49px;
      height: 47px;

      @media (min-width: $screen-md) {
        width: 110px;
        height: 91px;
      }

      @media (min-width: $screen-xl) {
        margin-left: 230px;
      }

      @media (min-width: $screen-xxl) {
        width: 148px;
        height: 122px;
        margin-left: 190px;
      }
    }

    &--noindex {

      img {
        height: 40px;

        @media (min-width: $screen-md) {
          width: 54px;
          height: 44px;
        }

        @media (min-width: $screen-xl) {
          margin-left: 0;
        }

        @media (min-width: $screen-xxl) {
          width: 89px;
          height: 73px;
          margin-left: 0;
        }
      }
    }
  }

  &--noindex {
    background-color: $body-bg--dark;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), 0px 4px 30px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: $screen-md) {
    background-image: linear-gradient(to bottom, #161616, transparent 140px);
  }

  $block-name:                &; // #{$block-name}__element

  &__nav-wrapper {
    position: absolute;
    z-index: 101;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.2s ease-in-out;

    @media (min-width: $screen-md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (min-width: $screen-xxl) {
      width: 1346px;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 50px;
    }

    &--noindex {
      position: static;

      @media (min-width: $screen-md) {
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media (min-width: $screen-xxl) {
        align-items: flex-end;
        transform: none;
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }
  }

  &__block-wrapper {

    @include container (
      $xs-grid-gutter:  0,
      $sm-grid-gutter:  0,
      $md-grid-gutter:  0,
      $lg-grid-gutter:  $grid-gutter-width,
      $xl-grid-gutter:  $grid-gutter-width,
      $xxl-grid-gutter: $grid-gutter-width
    )
  }

  &__row {
    background-image: none;

    @include row (
      $xs-grid-gutter:  0,
      $sm-grid-gutter:  0,
      $md-grid-gutter:  0,
      $lg-grid-gutter:  $grid-gutter-width,
      $xl-grid-gutter:  $grid-gutter-width,
      $xxl-grid-gutter: $grid-gutter-width
    )

    @media (min-width: $screen-md) {
      background-image: url(../img/bg-header.png);
      background-repeat: no-repeat;
      background-position: 30% 230%;
      background-size: 538px auto;
    }

    @media (min-width: $screen-xxl) {
      background-image: url(../img/bg-header.png);
      background-repeat: no-repeat;
      background-position: 35% 460%;
      background-size: 900px auto;
    }
  }

  &__photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/cupboard-bg-mobile@1x.jpg),
                      url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-position: 60% 20px, -195px 50px;
    background-size: contain;

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  0
    )

    @include col (
      $screen:  md,
      $column:  7,
      $columns: $grid-columns,
      $gutter:  0 //$grid-gutter-width
    )

    @media (min-width: $screen-md) {
      order: 1;
      background-image: url(../img/cupboard-bg-tablet@1x.jpg);
      background-position: 60% 80px;
      // background-size: 252px 340px;
      background-size: contain;
    }

    @media (min-width: $screen-xl) {
      background-position: 60% 70px;
    }

    @media (min-width: $screen-xxl) {
      background-image: url(../img/cupboard-bg-desktop@1x.jpg);
      background-position: 60% 110px;
    }
  }

  &__photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    // height: 210px;
    overflow: hidden;

    img {
      display: block;
      width: 90%;
      height: auto;
      margin-left: auto;
      // margin-right: auto;
      object-fit: contain;
      object-position: center bottom -25px;

      @media (min-width: $screen-md) {
        width: 100%;
        object-position: center bottom -1px;
      }

      @media (min-width: $screen-xl) {
        object-position: center bottom -15px;
      }

      @media (min-width: $screen-xxl) {

      }
    }

    @media (min-width: $screen-md) {
      width: 100%;
      min-height: 500px;
    }

    @media (min-width: $screen-xxl) {
      width: 100%;
      height: 740px;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    // margin-top: 160px;
    font-family: $font-family;
    font-size: 14px;
    color: $white;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: "";
      display: block;
      //width: calc(100% + 30px);
      width: 100%;
      height: 1px;
      background-color: $btn-color;

      @media (min-width: $screen-md) {
        display: none;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  0
    )

    @include col (
      $screen:  md,
      $column:  5,
      $columns: $grid-columns,
      $gutter:  0 //$grid-gutter-width
    )

    @media (min-width: $screen-md) {
      transform: translateY(145px);
    }

    @media (min-width: $screen-xxl) {
      transform: translateY(275px);
    }
  }

  &__info-text {
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 65px;
    padding-right: 15px;

    p {
      margin-bottom: 0;
      font-family: inherit;
      font-size: inherit;
    }

    p + p {
      margin-top: 10px;
    }

    @media (min-width: $screen-md) {
      padding-left: 85px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 130px;
    }
  }

  &__info-title {
    position: absolute;
    top: 95px;
    left: -50px;
    width: auto;
    transform: rotate(-90deg);
    margin-top: 0;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 2px;
    color: $text-muted;

    &::before {
      display: none;
      position: absolute;
      top: 12px;
      left: -145px;
      content: "";
      width: 115px;
      height: 1px;
      background-color: $text-muted;

      @media (min-width: $screen-xl) {
        display: block;
      }
    }

    @media (min-width: $screen-md) {
      left: -35px;
    }

    @media (min-width: $screen-xl) {
      left: 10px;
    }
  }

  &__info-link {
    margin-top: 35px !important;
  }

  &__mouse {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      margin-top: 35px;
    }
  }
}
