// Default plugin styles

.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;

  // Section
  // ---------------
  .acc_section {
    position: relative;
    z-index: 10;
    margin-top: -1px;
    margin-bottom: 30px;

    // Head
    // ------------
    .acc_head {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //padding: 15px;
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      cursor: pointer;

      span {
        margin-right: 5px;
        transition: all 0.2s ease;

        svg {
          display: block;
          fill: currentColor;
        }
      }

      &:hover {
        color: $title2-color;
      }
    }

    // Content
    // ---------------
    .acc_content{
      padding: 10px;
    }

    // General rules
    // ---------------------
    // Border radius
    &:first-of-type,
    &:first-of-type .acc_head{
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    &:last-of-type,
    &:last-of-type .acc_content{
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:last-child {
      margin-bottom: 0;

      /* @media (min-width: $screen-md) {
        margin-bottom: 0;
      } */
    }

    //JS Requirements
    &.acc_active {
      > .acc_content{
        display: block;
      }
      > .acc_head {
        color: $title2-color;
        // border-bottom: 1px solid #ccc;

        span {
          transform: scale3D(1, -1, 1);
        }
      }
    }
  }
}

// my styles

