// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  padding-right: 35px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $btn-color;
  border-radius: $border-radius;
  border: 1px solid $btn-color;
  background-color: $white;
  cursor: pointer;
  transition: all $transition-time ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $btn-color;
    box-shadow: 1px -1px 7px rgba(0, 0, 0, 0.25);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    transform: translateY(-2px);

    svg {
      fill: currentColor;
    }
  }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
