// В этом файле должны быть стили для БЭМ-блока person-profile, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.person-profile {
  margin-bottom: 45px;

  @include row (
    $xs-grid-gutter:  $grid-gutter-width,
    $sm-grid-gutter:  $grid-gutter-width,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width,
    $xxl-grid-gutter: $grid-gutter-width
  )

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 100px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {

  }

  &__text-wrapper {
    order: 1;

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  md,
      $column:  7,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  xl,
      $column:  5,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__text-out {
    height: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background: $white;
    box-shadow: 1px -1px 7px rgba(0, 0, 0, 0.25);
    border-radius: 3px;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-right: 35px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  &__name {
    margin-top: 0;
    text-align: left;
    text-transform: none;
  }

  &__fio {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    color: $title2-color;

    &::after {
      position: absolute;
      left: 0;
      bottom: -6px;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentColor;
    }
  }

  &__position {
    display: block;
    font-size: 16px;
    font-family: $font-family;
  }

  &__education,
  &__experience {

    span {
      font-weight: 700;
    }
  }

  &__experience {
    margin-bottom: 0;
  }

  &__img-container {

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  md,
      $column:  5,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  xl,
      $column:  7,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @media (min-width: $screen-xl) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 310px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    background-color: $white;
    box-shadow: 1px -1px 7px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    img {
      display: block;
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
      object-position: center bottom;
    }

    @media (min-width: $screen-md) {
      max-width: none;
      max-height: none;
    }

    @media (min-width: $screen-xl) {
      flex-shrink: 0;
      order: 1;
      width: 515px;
      height: 100%;
      margin-right: 0;
      margin-left: 20px;
      margin-bottom: 0;
    }
  }

  &__icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;

    span {
      display: flex;
      align-items: flex-start;
      margin-left: 17.5px;
      margin-right: 17.5px;
      margin-bottom: 35px;

      &:last-child {
        @media (min-width: $screen-xl) {
          margin-bottom: 0;
        }
      }

      @media (min-width: $screen-xl) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    svg {
      display: inline-block;
      height: 64px;
      fill: $title2-color;
    }

    @media (min-width: $screen-xl) {
      flex-direction: column;
      width: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
