// В этом файле должны быть стили для БЭМ-блока clients-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.clients-slider {

  $block-name:                &; // #{$block-name}__element

  .owl-stage  {
    display: flex;
    align-items: center;
  }

  &__slides {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
  }

  &__link {
    display: block;

    img {
      display: block;
    }
  }
}
