// В этом файле должны быть стили для БЭМ-блока intro, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.intro {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: $body-bg--dark;

  $block-name:                &; // #{$block-name}__element

  &__row {

    @include row (
      $xs-grid-gutter:  $grid-gutter-width,
      $sm-grid-gutter:  $grid-gutter-width,
      $md-grid-gutter:  $grid-gutter-width,
      $lg-grid-gutter:  $grid-gutter-width,
      $xl-grid-gutter:  $grid-gutter-width,
      $xxl-grid-gutter: $grid-gutter-width
    )
  }

  &__logo {
    margin-bottom: 35px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )
  }

  &__text {
    color: $text-muted;

    @include col (
      $screen:  xs,
      $column:  $grid-columns,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )
  }

  &__para {
    color: inherit;

    span {
      font-weight: 700;
      color: $white;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
